extend layout
block content
    div(class="page-header uk-block uk-block-primary uk-padding-4")
        h2 Try it out
        h4 Paste an url of a post page and run a test for the crawling result
    br
    div(class="uk-overflow-container", atom-crawler)
        form(class="uk-form")
            input(type="text" placeholder="http://" class="uk-width-1-1" ng-model="endpoint" ng-keyup="onUrlUpdateEvent($event)")
        div(class="logs" ng-show="logs !== null && logs.length > 0")
            h3 Logs
            div(class="crawl-logs")
                p(ng-repeat="(key, message) in logs")
                    | {{ message }}
        div(class="result" ng-show="crawlResult !== null")
            h3 Result
            div(ng-repeat="(key, result) in crawlResult", class="result-item")
                span Selector
                p(class="item-selector")
                    | {{ key }}
                iframe(frameborder=0, data-key="\{\{ key \}\}")
                | {{ setFrameContent(key, result) }}

block append js
    script.
        app.directive("atomCrawler", function() {
            return {
                link: function($scope, element, attrs) {
                    var $element = $(element);
                    $element.on("click", ".result-item.collapsed", function() {
                        $(this).removeClass("collapsed");
                    });
                },
                controller: ["$scope", "$element", "$http", function($scope, $element, $http) {
                    $scope.logs = null;
                    $scope.crawlResult = null;

                    var onCrawlResult = function(response, status, headers, config) {
                        var json = response.data;
                        if (json.success === true) {
                            $scope.logs = json.data.logs;
                            $scope.crawlResult = json.data.result;
                        } else {
                            onCrawlFailure.apply(this, arguments);
                        }

                        //- $scope.posts = response;


                    };
                    var onCrawlFailure = function(response, status, headers, config) {
                        var json = response.data;
                        $scope.logs = json.data.logs;

                        UIkit.notify.closeAll();
                        UIkit.notify("<i class='icon-remove'></i> Failed to get the content from url given", {
                            status: "danger",
                            timeout : 1500,
                        });
                    };

                    var getContentFromEndpoint = function() {
                        var endpoint = $scope.endpoint;

                        if (is.not.existy(endpoint) || is.empty(endpoint)) {
                            return ;
                        }

                        if (is.url(endpoint)) {
                            var request = $http({
                                method: "post",
                                url: atom.config.apiEndpoint + "/api/crawl",
                                data: {
                                    endpoint: endpoint
                                }
                            });

                            $scope.logs = null;
                            $scope.crawlResult = null;

                            request.then(onCrawlResult, onCrawlFailure);
                        } else {
                            UIkit.notify.closeAll();
                            UIkit.notify("<i class='fa fa-question'></i> It does not seem like an url", {
                                status: "warning",
                                timeout : 1500,
                            });
                        }
                    };

                    var onUrlUpdate = _.debounce(getContentFromEndpoint, 500);
                    var last = $scope.endpoint;
                    $scope.onUrlUpdateEvent = function(event) {
                        if ($scope.endpoint !== last) {
                            last = $scope.endpoint;
                            onUrlUpdate();
                        }
                    }

                    $scope.setFrameContent = function(key, result) {
                        // Inject CSS
                        result = "<link rel='stylesheet' href='/css/content.css'>"+result;

                        var $iframe = $("iframe[data-key='"+key+"'")
                        var iframe = $iframe[0];
                        iframe.contentWindow.document.open();
                        iframe.contentWindow.document.write(result);

                        setTimeout(function() {
                            var height = iframe.contentWindow.document.body.scrollHeight;
                            iframe.height = height + "px";
                            if (height > 500) {
                                $iframe.closest(".result-item").addClass("collapsed");
                            }
                        }, 100);
                    }
                }]
            }
        });