extend layout
block content
    div(class="page-header uk-block uk-block-primary uk-padding-4")
        h2 Debug Tools
    br
    div(class="uk-block uk-block-default")
        p Url Scanner and Regex Tester
        div(url-scanner)
            form(class="uk-form")
                fieldset
                    div(class="uk-form-row")
                        input(type="text" placeholder="http://" class="uk-width-1-1" ng-model="host" ng-keyup="onUrlUpdateEvent($event)")
                    div(class="uk-form-row")
                        input(type="text" placeholder="(.*)" class="uk-width-1-1" ng-model="regex" ng-keyup="onRegexUpdateEvent($event)")
            div(class="url-scan-result")
                p(ng-show="urls.length <= 0") No matched url
                p(ng-repeat="url in urls")
                    | {{ url }}

block append js
    script.
        app.directive("urlScanner", function() {
            return {
                controller: ["$scope", "$element", "$http", function($scope, $element, $http) {
                    $scope.regex = "";
                    $scope.host = "";
                    $scope.urls = [];

                    var onSuccess = function(response, status, headers, config) {
                        var json = response.data;
                        if (json.success === true) {
                            $scope.urls = json.data.urls;
                        } else {
                            onFailure.apply(this, arguments);
                        }
                    };
                    var onFailure = function(response, status, headers, config) {
                        var json = response.data;
                        $scope.logs = json.data.logs;

                        UIkit.notify.closeAll();
                        UIkit.notify("<i class='icon-remove'></i> Failed to get the content from url given", {
                            status: "danger",
                            timeout : 1500,
                        });
                    };

                    var getUrlsByRegexHost = function() {
                        var host = $scope.host;
                        var regex = $scope.regex;

                        if (is.not.existy(host) || is.empty(host)) {
                            return ;
                        }

                        if (is.url(host)) {
                            var request = $http({
                                method: "get",
                                url: atom.config.apiEndpoint + "/api/url-debug",
                                params: {
                                    host: host,
                                    regex: regex
                                }
                            });

                            $scope.logs = null;
                            $scope.urls = null;

                            request.then(onSuccess, onFailure);
                        } else {
                            UIkit.notify.closeAll();
                            UIkit.notify("<i class='fa fa-question'></i> It does not seem like an url", {
                                status: "warning",
                                timeout : 1500,
                            });
                        }
                    };

                    var onDebugUpdate = _.debounce(getUrlsByRegexHost, 500);
                    var last = $scope.host;
                    $scope.onUrlUpdateEvent = function(event) {
                        if ($scope.host !== last) {
                            last = $scope.host;
                            onDebugUpdate();
                        }
                    }
                    var lastRegex = $scope.regex;
                    $scope.onRegexUpdateEvent = function(event) {
                        if ($scope.regex !== last) {
                            last = $scope.regex;
                            onDebugUpdate();
                        }
                    }

                }]
            };
        });