extend layout
block content
    div(class="page-header uk-block uk-block-primary uk-padding-4")
        h2 Website Seatures
        h4 By running the #[strong scan-feature] command, Atom will store the website features by domain name. The website features include the endpoint for sampling, the regular expression on identifying the post page content and common paths of content from those post page and also user-defined settings.
    div(class="scan-form uk-block uk-block-default", site-feature-scanner)
        p Add a site
        form(class="uk-form", id="form-scan-feature", ng-submit="scan(event)")
                fieldset
                    div(class="uk-form-row")
                        input(type="text" placeholder="http://" class="uk-width-1-1" ng-model="host" ng-keyup="onUrlUpdateEvent($event)")
                    div(class="uk-form-row")
                        input(type="text" placeholder="(.*)" class="uk-width-1-1" ng-model="regex" ng-keyup="onRegexUpdateEvent($event)")
                    div(class="uk-form-row")
                        input(type="submit", class="uk-button uk-button-primary uk-width-1-1", value="Scan")
    div(class="sites")
        each site in sites
            dl(class="uk-description-list-line site-item uk-block uk-block-default")
                dt
                    h5= site.domain
                    span= site.endpoint
                p 
                    span Regex: 
                    span= site.regex
                p Paths:
                dd(class="uk-overflow-container")
                    ul
                        each path in site.commonPaths
                            li= path

block append js
    script.
        app.directive("siteFeatureScanner", function() {
            return {
                controller: ["$scope", "$element", "$http", function($scope, $element, $http) {
                    $scope.regex = "";
                    $scope.host = "";
                    $scope.logs = [];

                    var onSuccess = function(response, status, headers, config) {
                        var json = response.data;
                        if (json.success === true) {
                            location.reload()
                        } else {
                            onFailure.apply(this, arguments);
                        }
                    };
                    var onFailure = function(response, status, headers, config) {
                        var json = response.data;

                        UIkit.notify.closeAll();
                        UIkit.notify("<i class='icon-remove'></i> Failed to scan feature", {
                            status: "danger",
                            timeout : 1500,
                        });
                    };

                    $scope.scan = function(event) {
                        var host = $scope.host;
                        var regex = $scope.regex;

                        $scope.logs = [];

                        if (is.not.existy(host) || is.empty(host)) {
                            return ;
                        }

                        if (is.url(host)) {
                            Pace.track(function(){
                                var request = $http({
                                    method: "post",
                                    url: atom.config.apiEndpoint + "scan-feature",
                                    data: {
                                        host: host,
                                        regex: regex
                                    }
                                });

                                request.then(onSuccess, onFailure).then(function() {
                                    console.log("complete");
                                });
                            });
                        } else {
                            UIkit.notify.closeAll();
                            UIkit.notify("<i class='fa fa-question'></i> It does not seem like an url", {
                                status: "warning",
                                timeout : 1500,
                            });
                        }
                    }

                }]
            };
        });