mixin style(path)
    link(rel="stylesheet", href="#{config.staticRoot}"+path)

mixin script(path)
    script(type="text/javascript" src="#{config.staticRoot}"+path)

mixin link(href, label, classes, id)
    a(href="#{ config.siteRoot }"+href, class=classes, id=id)= label

doctype
html
    head
        title #{title} - My Site
        +style("css/uikit.min.css")
        +style("css/uikit.almost-flat.min.css")
        +style("css/uikit/notify.almost-flat.min.css")
        +style("css/font-awesome.min.css")
        +style("css/pace.css")
        +style("css/style.css")
    body
        div(class="uk-grid", data-uk-grid-margin, ng-app="AtomApp")
            div(class="sidebar uk-width-medium-1-4 uk-hidden-small uk-height-viewport")
                    block sidebar
                        h1 Atom
                        ul(class="tm-nav uk-nav")
                            li(class="uk-nav-header") Steps
                            li(class={active: navigate === "sites.index" })
                                i(class="fa fa-sitemap")
                                +link("", "Scan Features")
                            li(class={active: navigate === "crawl.index" })
                                i(class="fa fa-object-group")
                                +link("crawl", "Get Content")
                            li(class={active: navigate === "service.debug"})
                                i(class="fa fa-bug")
                                +link("debug", "Debug")
            div(class="content-container uk-width-medium-3-4 uk-push-1-4")
                block content

            div(class="pace-mask")

        block js
            +script("js/jquery.min.js")
            +script("js/uikit.min.js")
            +script("js/uikit/notify.min.js")
            +script("js/underscore-min.js")
            +script("js/is.min.js")
            +script("js/lib-extend.js")
            +script("js/pace.min.js")
            +script("js/angular.min.js")
            +script("js/base.js")
            script.
                var app = angular.module("AtomApp", []);