body {
    background-color: #eee;
}

.content-container .uk-block-default {
    padding: 30px;
}

.sidebar {
    position: fixed;
    height: 100vh;
    background-color: #555;
    color: #eee;
}

.sidebar h1 {
    color: #fff;
    background-color: #444;
    font-size: 50px;
    margin: 0;
    padding: 50px 30px;
}

.sidebar h1 a,
.sidebar h1 a:hover
.sidebar h1 a:visited {
    color: #fff;
    text-decoration: none;
}

.sidebar .uk-nav-header {
    font-size: 16px;
    color: #646464;
    margin: 0;
    padding: 15px 20px 5px 20px;
}

.sidebar li {
    position: relative;
}

.sidebar li .fa {
    position: absolute;
    font-size: 18px;
    top: 30%;
    left: 30px;
    transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);
}

.sidebar li a {
    padding: 10px 25px 10px 50px;
    color: #9f9f9f;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.sidebar li.active a,
.sidebar a:hover {
    color: #fff;
}

.sidebar li a .fa {
    margin-right: 15px;
}


.content-container {
    padding: 20px 35px;
    min-height: 100vh;
}

.page-header {
    padding-left: 30px;
    padding-right: 30px;
}

.page-header h2 {
    color: #fff;
    font-size: 30px;
    margin: 0;
}

.page-header h4 {
    margin-top: 10px;
    color: #ddd;
    font-size: 14px;
    font-weight: 300;
}

.page-header h4 strong {
    color: #fff;
}

.sites, 
.sites .site-item {
    color: #555;
}

.sites .site-item dt h5 {
    margin: 0;
}

.sites .site-item dt span {
    font-size: 11px;
    color: #aaa;
}

.sites .site-item dd ul {
    color: #666;
}

.result {

}

.result iframe {
    width: 100%;
}

.content-container h3 {
    margin: 30px 10px;
    font-size: 30px;
}

.result-item {
    background-color: #fff;
    padding: 30px 30px;
    margin-bottom: 20px;
}

.result-item.collapsed {
    position: relative;
    max-height: 500px;
    overflow: hidden;
}

.result-item.collapsed::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.result-item.collapsed::after {
    content: "Expand";
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    z-index: 20;

    text-align: center;
    color: #3498db;

    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(25%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.result-item.expanded {
    max-height: auto;
}

.result-item .item-selector {
    font-weight: 600;
    overflow-x: scroll;
    margin-top: 0;
}

.crawl-logs {
    padding: 30px;
    background: #fff;
    max-height: 50px;
    overflow-y: scroll;
}

.crawl-logs p {
    margin: 0;
}

.url-scan-result {
    margin-top: 30px;
    max-height: 200px;
    overflow-y: scroll;
}

.url-scan-result p {
    margin: 0;
}

.scan-form {
    margin: 20px 0;
}

.scan-form input[type="submit"] {
    color: #fff;
}